.main h1{
    position: absolute;
    font-size: 50px;
    color: #fff;
    z-index: 1;
    text-align: center;
}
.main p{
    position: absolute;
    font-size: 20px;
    color: #fff;
    z-index: 1;
    text-align: center;
    margin-top: 50px;
}
.main-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main{
    position: relative;
    padding: 400px 0;
    width: 100%;
    background-image: url("../images/food1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    background-attachment: fixed;
}
.dark{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}