.category h1{
    position: absolute;
    font-size: 60px;
    color: #fff;
    font-weight: bold;
    z-index: 1;
}
.category p{
    position: absolute;
    font-size: 20px;
    color: #fff;
    margin-top: 70px;
    z-index: 1;
}
.category{
    position: relative;
    padding: 400px 0;
    width: 100%;
    background-image: url("../images/food5.jpg");
    background-repeat: no-repeat;
    text-align: center;
    background-size: 100%;
    background-attachment: fixed;
}
.category-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dark{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}