.kitchen{
    position: relative;
    width: 100%;
    height: auto;
    padding: 300px 0;
    background-image: url("../images/food6.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
.kitchen h1{
    position: absolute;
    z-index: 1;
    color: #ffffff;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
}
.kitchen-details{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dark{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}