header{
    position: absolute;
    z-index: 1;
    height: 70px;
    background-color: transparent;
    width: 100%;
}
.header-links button{
    padding: 20px;
    font-size: 22px;
    color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
    transition: .2s;
}
.header-details{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-cart img{
    width: 25px;
}
.header-img img{
    width: 150px;
}
.header-auth span{
    color: #ffffff;
    font-size: 20px;
}
.header-auth button{
    padding: 20px 10px;
    font-size: 16px;
    color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
    transition: .2s;
}
.header-links button::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: width .3s;
}
.header-links button:hover::after{
    width: 100%;
    transition: width .3s;
}
.header-cart button{
    padding: 20px;
    font-size: 22px;
    color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
    transition: .2s;
}
.header-cart span{
    position: absolute;
    top: 20px;
    right: 200px;
    color: #000000;
    font-size: 10px;
    font-weight: 700;
    padding: 3px 6px;
    border-radius: 10px;
    background: #ffffff;
}