.makereserv-items2 h1{
    text-align: left;
}
.makereserv-items2 p{
    text-align: left;
    font-size: 16px;
}
.makereserv-items2 {
    margin: 150px 0;
}
.makereserv-items1 {
    margin: 150px 0;
}
.makereserv-items1 h1{
    color: #000000;
    font-size: 30px;
    font-weight: bold;
}
.makereserv-items1 button{
    background: rgba(0, 0, 0, 0.95);
    color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px 25px;
    opacity: 0.8;
}
.makereserv-image img{
    height: 700px;
    width: 100%;
}
.makereserv{
    padding: 100px 0;
}
